
html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: Courier, "Courier New", monospace;
    font-size: 0.8em ;
    background-color: #ffffff;
    color: #000000;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#footer {
    height: 50%;
    opacity: 0.8;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}


.header-font{
    font-family: Courier, "Courier New", monospace;
    font-weight:normal;
    font-size: 5em;
    line-height:1em;
}

.header-font-sub{
    font-family: Courier, "Courier New", monospace;
    font-weight:normal;
    font-size: 3em;
    line-height:1em;
}
.nav-font{
    font-family: Courier, "Courier New", monospace;
    font-size: 1.2em;
}

#footer {
    background-color: #ffffff;
}


header {
    background-color: #ffffff;
    color: #000000;
}

h1 {
    font-size: 18px;
    font-family: Courier, "Courier New", monospace;
    margin: 5% 0% 5% 0%;
}

h2 {
    font-size: 16px;
    font-family: Courier, "Courier New", monospace;
    margin: 5% 0% 5% 0%;
}

h3 {
    font-size: 14px;
    font-family: Courier, "Courier New", monospace;
    margin: 5% 0% 5% 0%;
}

h4 {
    font-size: 14px;
    font-family: Courier, "Courier New", monospace;
    margin: 5% 0% 5% 0%;
}

h5 {
    font-size: 12px;
    font-family: Courier, "Courier New", monospace;

}

h6 {
    font-size: 12px;
    font-family: Courier, "Courier New", monospace;

}

#custom-nav {
    opacity: 0.8;
    -webkit-box-shadow: 10px 10px 10px #222222;
    -moz-box-shadow:    10px 10px 10px #222222;
    box-shadow:         10px 10px 10px #222222;

}


#nav-logo{
    margin-right: 2em;
}

nav ul li{
    margin-left: 2em;
}


#nav.affix {
    position: fixed;
    top: 0;
    -webkit-transition: all .6s ease-in-out;
}


@media (min-width: 767px) {
    .navbar-nav.nav-justified > li {
        float: none;
    }
}

.navbar-collapse.in {
    /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
    outline: 0;
}

.divider {
    height: 20%;
}

.panel {
    border-width: 0;
}

@media (max-width: 768px) {
    header {

    }
}


section {
    color: #000000;
    height: auto !important;
    padding-top: 100px;
}

.bg-1 {
    background: url('images/A2D.png') no-repeat center center fixed;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-2 {
    background: url('images/A2C.png') no-repeat center center fixed;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-3 {
    background: url('images/locatieA.png') no-repeat center center fixed;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.panel .img-responsive {
    min-height: 270px;
    max-height: 270px;
}


.btn-material-white {
    background-color: #ffffff;
    color: black;
    margin-top: 0;
    font-size: 1em;
    padding: 7px 20px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
}
.btn-material-white:hover {
    background-color: #DDDDDD;
}

.btn-material-yellow {
    background-color: #FFFF00;
    color: #000000;
    margin-bottom: 1em;
}
.first-container{
    min-height: 100vh;
    background-color: #ffffff;
}

.map-container{
    min-height: 300px;
    width: 100%;
    background-color: #ffffff;
}

.burg{
    margin-bottom: 15%;
}

.thumbnail {
     position:relative;
     overflow:hidden;

 }

.thumbnail .caption {
    position:absolute;
    top:0;
    right:0;
    background-color: #c0c0c0;
    opacity: 0.8;
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#000000 !important;
    z-index:2;
}

.row .thumbnail {
    border:0;
    box-shadow:0;
    border-radius:0;
    padding: 0px;
}

ul {
    list-style-position: inside;
    padding-left:0;
}

ul li {
    list-style: none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.font-big{
    font-size: 1.1em;
}

#mail-mij{
    color: #000000;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}

#notFound{
    font-size: x-large;
}

/*
carousel

---------------------------------------------

*/

#slider img{

    width: 100%;


}

.carousel-inner{
    width:100%;
    max-height: 625px !important;
}

.divider2{
   min-height: 10%;
}

.carousel-indicators li{

    border: 1px solid #080808;
}

.carousel-indicators .active{
    background-color: #FFFF00;
}

.carousel .active.left, .carousel .active.right {
    opacity: 0;
    z-index: 2;

}

.carousel-control {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 15%;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.5;
}

.carousel-control.right {
    right: 0px;
    left: auto;
    background-image: none;
}

.carousel-control.left {
    left: 0px;
    left: auto;
    background-image: none;
}
.glyphicon.glyphicon-chevron-down {
    font-size: 50px;
    color: #8C8C8C;
    margin-left: 2%;
    margin-top: 1%;

}

.glyphicon {
    font-size: 30px;
    color: #8C8C8C;
    margin-left: 2%;
    margin-top: 1%;

}

.fixed {
    position: fixed;
    bottom:0;
    margin-left: 75%;

}
a{
    outline: none !important;
}

#icons > li{
    display: inline-block;
    *display:inline; /* this fix is needed for IE7-*/
    max-height: 30px;
    width: auto;
}



