
html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: Courier, "Courier New", monospace;
    font-size: 0.8em ;
    background: #333;
    color: #ffffff;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}





#footer {
    height: 80px;
    background-color: #f5f5f5;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}


.header-font{
    font-family: Courier, "Courier New", monospace;
    font-weight:normal;
    font-size: 5em;
    line-height:1em;
}

.header-font-sub{
    font-family: Courier, "Courier New", monospace;
    font-weight:normal;
    font-size: 3em;
    line-height:1em;
}
.nav-font{
    font-family: Courier, "Courier New", monospace;
    font-size: 1.5em;
}

#footer {
    background-color: #414141;
}


header {
    background: #333;
    color: #ffffff;
}

h1 {
    font-size: 1.2em;
    font-family: Courier, "Courier New", monospace;
    margin: 5% 0% 5% 0%;
}

h2 {
    font-size: 35px;
    font-family: Courier, "Courier New", monospace;
    margin: 5% 0% 5% 0%;
}

h3 {
    font-size: 30px;
    font-family: Courier, "Courier New", monospace;
    margin: 5% 0% 5% 0%;
}

h4 {
    font-size: 20px;
    font-family: Courier, "Courier New", monospace;
    margin: 5% 0% 5% 0%;
}

h5 {
    font-size: 15px;
    font-family: Courier, "Courier New", monospace;

}

h6 {
    font-size: 10px;
    font-family: Courier, "Courier New", monospace;

}

#custom-nav {
    opacity: 0.8;
    -webkit-box-shadow: 20px 20px 20px #222222;
    -moz-box-shadow:    20px 20px 20px #222222;
    box-shadow:         20px 20px 20px #222222;

}

#nav-logo{
    margin-right: 2em;
}

nav ul li{
    margin-left: 2em;
}


#nav.affix {
    position: fixed;
    top: 0;
    -webkit-transition: all .6s ease-in-out;
}


@media (min-width: 767px) {
    .navbar-nav.nav-justified > li {
        float: none;
    }
}

.navbar-collapse.in {
    /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
    outline: 0;
}

.divider {
    height: 20%;
}

.panel {
    border-width: 0;
}

@media (max-width: 768px) {
    header {

    }
}

#map-canvas {
    width: 100%;
    height: 300px;
    margin: 0;
    background-color: #ffffff;
}

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 6%;
    z-index: 100;
    background: #f2f3f2;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.scroll-top a:link, .scroll-top a:visited {
    color: #222;
}

section {
    color: #ffffff;
    height: auto !important;
    padding-top: 100px;
}

.bg-1 {
    background: url('images/A2D.png') no-repeat center center fixed;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-2 {
    background: url('images/A2C.png') no-repeat center center fixed;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-3 {
    background: url('images/locatieA.png') no-repeat center center fixed;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.panel .img-responsive {
    min-height: 270px;
    max-height: 270px;
}


.btn-material-white {
    background-color: #ffffff;
    color: black;
    margin-top: 0;
    font-size: 1em;
    padding: 7px 20px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
}
.btn-material-white:hover {
    background-color: #DDDDDD;
}
.first-container{
    min-height: 100vh;
    background-color: #ffffff;
}

.map-container{
    min-height: 300px;
    width: 100%;
    background-color: #ffffff;
}

.burg{
    margin-bottom: 15%;
}

.thumbnail {
     position:relative;
     overflow:hidden;

 }

.thumbnail .caption {
    position:absolute;
    top:0;
    right:0;
    background-color: #c0c0c0;
    opacity: 0.8;
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.row .thumbnail {
    border:0;
    box-shadow:0;
    border-radius:0;
    padding: 0px;
}

ul {
    list-style-position: inside;
    padding-left:0;
}

ul li {
    list-style: none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.font-big{
    font-size: 1.1em;
}

#mail-mij{
    color: #ffffff;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}